<!DOCTYPE html>
<html lang="en">
<head>
    <title>Python Flask App</title>


    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/SignUp.js"></script>

</head>

<body>

<div class="container">
    <div class="header">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation"><a href="/">Home</a></li>
                <li role="presentation"><a href="/showLogIn">Login</a></li>
                <li role="presentation"><a href="/showSignUp">Sign Up</a></li>
            </ul>
        </nav>
        <h3 class="text-muted"><i>Роршах</i></h3>
    </div>
